*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-card{
    padding: 0 0;
    margin: 40px;
    border-radius: 0px;
}
.card-img-top{
    border-radius: 0px;
}
.hr-container {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}